/* General */

body {
  background-color: #14171A;
  color: #fff;
}

button {
  background-color: #1DA1F2;
  color: #fff;
  border-radius: 20px;
  padding: 5px 15px;
  border: none;

}

button:hover {
  background-color: #1da0f2be;
}

button:focus {
  outline: none;
}

input {
  background-color: #657786;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 5px 10px;
}

input::placeholder {
  color: #ffffff7b;
}

select {
  background-color: #657786;
  border-radius: 10px;
  padding: 3px 6px;
  color: #fff;
}

hr {
  border: none;
  height: 2px;
  background: linear-gradient(to right, transparent, #657786, transparent);
  margin: 20px 0;
}


.pale {
  font-weight: 200px;
  color: #8f8f8f;
}

/* login */

.login {
  display: flex;
  width: 500px;
  height: 400px;
  margin: 10% auto;
  justify-content: center;
  text-align: center;
  align-items: center;
  border: 1px solid #fff;
  border-radius: 30px;
}

/* dashboard*/
.dashboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.dashboard section {
  width: 300px;
  text-align: center;
  margin: 20px;
}

.dashboard .bigGraph {
  width: 80%;
  max-width: 600px;
}

.dashButtons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Tweets */

.tweets {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
  float: left;
}

.hashtag {
  background-color: #657786;
  border-radius: 20px;
  width: 70%;
  margin: 20px auto;
  padding-bottom: 10px;
}

ol {
  list-style-type: none;
  cursor: pointer;
  margin: 0;
  height: 40px;
}

ol:hover {
  font-weight: 700;
  background-color: #4c5862;
}

.userName {
  text-decoration: underline;
  cursor: pointer;
}

.moreDisplay {
  display: flex;
  background-color: #657786;
  margin: 10px auto;
}

/* Profiles */

.profiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

.profilfeatures {
  display: flex;
  flex-wrap: wrap;
  ;
}

.profilfeatures p {
  width: 50%;
  min-width: 250px;
}

.profilfeatures span {
  font-weight: bold;
}

.otherProfiles li {
  cursor: pointer;
  list-style: none;
  margin-bottom: 20px;
}

.otherProfiles:hover {
  background-color: #657786;
}

@media (min-width: 676px) {
  .divBorder {
    border-left: 1px solid #fff;
  }
}

@media (max-width: 675px) {
  .divBorder {
    border-left: none;
  }
}