body {
  background-color: #14171A;
  color: #fff;
}

.login {
  display: flex;
  width: 500px;
  height: 400px;
  margin: 10% auto;
  justify-content: center;
  text-align: center;
  align-items: center;
  border: 1px solid #fff;
  border-radius: 30px;
}

button {
  background-color: #1DA1F2;
  color: #fff;
  border-radius: 20px;
  padding: 5px 15px;
  border: none;

}

button:hover {
  background-color: #1da0f2be;
}

button:focus {
  outline: none;
}

input {
  background-color: #657786;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 5px 10px;
}

input::placeholder {
  color: #ffffff7b;
}